@import '../base/variables';
@import '../base/mixins';
@import '../base/breakpoints';

.header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/header.png");
  background-color: grey;
  width: 100%;
  height: 700px;
  padding-top: 50px;

  @include Desktop {
    padding-top: 0px;
  }

  @include Mobile {
    height: 100%;
  }

  .header_content {
    @include Table {
      text-align: center;
      display: flex;
      //padding-top: 0;
      //padding-left: 0;
      max-width: 500px;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 40px 0;
    }
    @include Mobile {
      text-align: center;
      display: flex;
      //padding-top: 0;
      //padding-left: 0;
      max-width: 500px;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 40px 0;
    }

    line-height: 1;
    padding-top: 135px;
    padding-left: 115px;
    max-width: 500px;
    h1 {
      font-size: 66px;
      font-weight: normal;
      text-transform: uppercase;
      color: $white;
      margin: 0;
    }
    h2 {
      font-size: 42px;
      color: #373645;
      text-transform: uppercase;
      font-weight: normal;
    }
    p {
      font-size: 18px;
      color: $primary;
    }
  }
}

#block-sitebranding-2 {
  background-color: $secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100%;

  @include Desktop {
    width: 100%;
  }
}
