@import 'variables';

@mixin sitebranding {
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  text-align: center;

  .site-name a{
    color: $primary;
    font-size: 32px;
    font-weight: bold;
  }
  .site-slogan{
    color: $white;
    font-size: 16px;
  }
}

@mixin container ($width-container){
  width: 100%;
  max-width: $width-container;
  margin: 0 auto;
  padding: 0 15px;
}

@mixin btn ($background-color) {
  background-color: $background-color;
  color: $white;
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid $background-color;
  transition: 0.2s all linear;
  text-align: center;

  &:hover {
    background-color: transparent;
    color: $background-color;
    border: 1px solid $background-color;
  }
}

@mixin block-wrapper {
  padding: 55px 0;
  background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 10px,
      #ccc 12px,
      #ccc 12px
  );
}

@mixin transition ($speed){
  transition: $speed all linear;
}
